@model IEnumerable<youngbushfireheroes.Models.Species>

@{
    ViewBag.Title = "Species - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" id="bubbles">

</div>


<div class="container" id="bubbles">

</div>
<div class="info-box">
    <div class="info-container">
        <square-title>What were the effects of this bush fire?</square-title>
        <h3>Animals population is decreased </h3>
        <h3>Animals lost their habitat</h3>
        <h3>They don't have enough food and water</h3>
    </div>
</div>

<hr />
<square-warn style="text-align:center">
    Species affected in gippsland
</square-warn>
<div class="row">
    <div class="module-column-left">
        <img src="~/Image/rock wallaby module.png" width="900" class="responsive"/>
    </div>
    <div class="right-column">
        <h1 class="module-text"> Want to know more about Wallabies? </h1>
        <a href="/Species/SpeciesDetail/6">
            <img src="~/Image/see more-wallaby.png" width="200" class="responsive img-shake"/>
        </a>
    </div>
</div>
<hr />
<div class="row">
    <div class="left-column">
        <h1 class="module-text"> Want to know more about Potorooes? </h1>
        <a href="/Species/SpeciesDetail/2">
            <img src="~/Image/see more-potoroo.png"  width="200" class="responsive img-shake"/> 
        </a> 
    </div>
    <div class="module-column-right">
        <img src="~/Image/potoroo module.png" width="900"  class="responsive"/>
    </div>
</div>
<hr />
<div class="row">
    <div class="module-column-left">
        <img src="~/Image/Koala module.png" width="850" class="responsive" />
    </div>
    <div class="right-column">
        <h1 class="module-text"> Want to know more about Koala? </h1>
        <a href="/Species/SpeciesDetail/5">
            <img src="~/Image/see more-koala.png"  width="200" class="responsive img-shake"/> 
        </a> 
    </div>
</div>
<hr />
<div class="row">
    <div class="left-column">
        <h1 class="module-text"> Want to know more about Greater Glider? </h1>
        <a href="/Species/SpeciesDetail/3">
            <img src="~/Image/see more-glider.png" width="200" class="responsive img-shake"/> 
        </a> 
    </div>
    <div class="module-column-right">
        <img src="~/Image/Greater Glider module.png" width="900"  class="responsive"/>
    </div>
</div>
<hr />
<div class="row">
    <div class="module-column-left">
        <img src="~/Image/Python module.png" width="850"class="responsive"  />

    </div>
    <div class="right-column">
        <h1 class="module-text"> Want to know more about Carpet python? </h1>
        <a href="/Species/SpeciesDetail/7">
            <img src="~/Image/see more-python.png" width="200" class="responsive img-shake"/>
            
        </a>
         
    </div>
</div>
<hr />

<div class="row">
    <div class="left-column">
        <h1 class="module-text"> Want to know more about quoll module? </h1>
        <a href="/Species/SpeciesDetail/8">
            <img src="~/Image/see more-quoll.png" width="200" class="responsive img-shake" />
           
        </a> 
    </div>
    <div class="module-column-right">
        <img src="~/Image/quoll module.png" width="900" class="responsive" />

    </div>
</div>