
@{
    ViewBag.Title = "Activity - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="game-box">
    <div class="info-container">
        <div id="phaser-example"></div>

    </div>
</div>

<script src="~/Scripts/game.js"></script>
 