.wrapper {
   
    height: auto;
    width: 100%;
    background-color:aquamarine;
}

.bubble {
    box-shadow: inset 0 0 10px blue;
    border-radius: 50%;
}

.one {
    height: 150px;
    width: 150px;
    box-shadow: inset 0 0 10px blue;
    margiound: red;
    n-left: 150px;
    animation: float 7s ease-in-out infinite;
}

.two {
    height: 200px;
    width: 200px;
    margin: 50px;
    animation: float 6s ease-in-out infinite;
}

.three {
    height: 200px;
    width: 200px;
    margin: 20px auto;
    animation: float 8s ease-in-out infinite;
}

.four {
    height: 180px;
    width: 180px;
    left: 100px;
    animation: float 5s ease-in-out infinite;
}

.five {
    height: 300px;
    width: 300px;
    margin: 0 auto;
    animation: float 6s ease-in-out infinite;
}

.six {
    height: 350px;
    width: 350px;
    margin: 0 auto;
    animation: float 6s ease-in-out infinite;
}

.seven {
    height: 140px;
    width: 140px;
    margin: 0 auto;
    animation: float 6s ease-in-out infinite;
}

.pop {
    animation: explode 0.7s forwards ease-out
}

@keyframes explode {
    0% {
        opacity: 1;
    }

    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}
