
body {
}

.nav_home { 
    background: url('../Image/nav-homepage 2.png') no-repeat;
    background-size: 140px 60px;
    height: 60px;
    margin: 5px;
    width: 150px;
    left: 10px;
    text-align: right;
}

.nav_bushfire {
    display: block; 
    background: url('../Image/nav-bushfire 2.png') no-repeat;
    background-size: 150px 60px;
    height: 60px;
    margin: 5px;
    width: 150px;
    left: 10px;
    text-align: right;
}

.nav_species { 
    background: url('../Image/nav-wildlife 2.png')no-repeat;
    background-size: 150px 60px;
    height: 60px;
    margin: 5px;
    width: 150px;
    left: 10px;
    text-align: right;
}



img {
    vertical-align: middle;
}


/* Position the image container (needed to position the left and right arrows) */
.image-container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    background-color: black;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    text-align: center;
    content: "";
    display: table;
    clear: both;
}

/* 3 columns side by side */
.column {
    text-align: center;
    float: left;
    width: 33.33%;
}


.left-column {
    text-align: center;
    float: left;
    width: 33.33%;
}

.right-column {
    text-align: center;
    float: right;
    width: 33.33%;
    
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

    .active,
    .demo:hover {
        opacity: 1;
    }


/* Container holding the image and the text */
.container {
    position: relative;
    font-family: Arial;
}

.text-block {
    position: absolute;
    bottom: 156px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.theme-upper {
    /* background-image: url('../Image/background.jpg');*/
    background-color: #17B4C7;
    background-repeat: repeat;
}

.body-theme {
    background-color: white;
}



.bubble-container {
    position: relative;
    width: 50%;
}

.bubble-image {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.bubble-image-cropper {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.bubble-middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.bubble-container:hover .bubble-image {
    opacity: 0.3;
}

.bubble-container:hover .bubble-middle {
    opacity: 1;
}

.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}


.header {
    background-color: #f1f1f1;
    padding: 0px;
    width: auto;
    height:auto;
    text-align: center;
}

#navbar {
    overflow: hidden;
    background-color: #A5CB43;
}

    #navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        #navbar a:hover {
            background-color: #ddd;
            color: black;
        }

        #navbar a.active {
            background-color: #4CAF50;
            color: white;
        }

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99999999;
}

    .sticky + .content {
        padding-top: 60px;
    }

.upper-full-footer {
    position: absolute;
    width: 100vw;
    left: calc(-50vw + 49.5%);
    background-color: #FBB54F;
}

.upper-footer {
    background-color: #FBB54F;
    left: 0;
    right: 0;
    bottom:0;
    padding-left: 20px;
    padding-right: 20px;
}

@font-face {
    font-family: 'SquareKids';
    src: url('../fonts/SquareKids-LZ5y.ttf') format('truetype');
}

.footer-title {
    font-weight: normal;
    font-style: normal;
    font-size: 3vw;
}

@font-face {
    font-family: 'Kidzone';
    src: url('../fonts/Kidzone-2qVv.ttf') format('truetype');
}

.footer-content {
    font-weight: normal;
    font-style: normal;
    font-size: 1vw;
}

.show-box {
    border: 5px dotted #bbb;
    width: 80%;
    border-radius: 15px;
    margin: 0 auto;
    max-width: 1000px;
}

.show-container {
    font-family: 'Kidzone';
    padding: 2px 16px;
    background-color: #FBB54F;
    text-align: center;
}

show-text {
    color: white;
    font-size: 40px;
}

.show-column {
    text-align: center;
    float: left;
    width: 50%;
}

.img-shake {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}


square-title {
    font-family: 'whiz bang pow';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    color:white;
}
title-in-card {
    font-family: 'SquareKids';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    text-align: justify;
}

.font-card {
    font-family: 'Kidzone';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    text-align: justify;
}
.info-box {
    border: 5px dotted #bbb;
    width: 80%;
    margin: 0 auto;
    border-radius: 15px;
    max-width: 1000px;
    text-align: center;
}


.info-container {
    font-family: 'Kidzone';
    padding: 2px 16px;
    background-color: #6DD1FF;
    
    text-align: center;
}
@font-face {
    font-family: 'whiz bang pow';
    src: url('../fonts/whiz bang pow.ttf') format('truetype');
}


/* Float four columns side by side */
.card-column {
    box-sizing: border-box;
    float: left;
    width: 25%;
    padding: 0 10px;
    width: 33.33%;
}

/* Remove extra left and right margins, due to padding */
.card-row {
    box-sizing: border-box;
    margin: 0 -5px;
}

    /* Clear floats after the columns */
    .card-row:after {
        content: "";
        display: table;
        clear: both;
    }

/* Responsive columns */
@media screen and (max-width: 600px) {
    .card-column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}
.warn-box {
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
    max-height:1500px;
    text-align: center;
}
square-warn {
    font-family: 'whiz bang pow';
    font-weight: normal;
    font-style: normal;
    font-size: 2vw;
    text-align: center;
    color: black;
}

.warn-top {
    position:relative;
    top:50px;
}

.vl {
    border-left: 6px solid green;
    height: 500px;
}

.put-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.centername {
    float: left;
    width:100%;
    font-family: 'whiz bang pow';
    font-weight: normal;
    font-style: normal;
    font-size: 50px;
    text-align: center;
}

.logo {
    font-family: 'Kidzone';
    font-weight: normal;
    font-style: normal;
    font-size:50px;
}
.responsive {
    max-width: 100%;
    height: auto;
}

img.alldevices {
    margin: 0 auto;
    height: auto;
    max-width: 100%;
    border: none;
    display: block;
    padding: 5px 0;
}

.module-column-left {
    float: left;
    width: 60%;
}

.module-column-right {

    float: right;
    width: 60%;
}
.module-text {
    font-family: 'whiz bang pow';
    font-weight: normal;
    font-style: normal;
    font-size: 2vw;
    text-align: center;
}

.aimage {
    display: block;
    width: 100%;
    height: auto;
}
square-question {
    font-family: 'whiz bang pow';
    font-weight: normal;
    font-style: normal;
    font-size: 3vw;
    text-align: center;
    color: black;
    text-align:center;
}

.question-container {
    position: relative;
    width: 50%;
}



.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.question-container:hover .overlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.answer-text {
    color: white;
    font-size: 2vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.answer-text-small {
    color: white;
    font-size: 1vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
a.see-more-wallaby {
    background: url('../../Image/see more-wallaby.png') no-repeat;
    display: block;
    background-size:150px, 150px;
    width: 100%;
    height: 200%;
    text-indent: -9999px; /* hides the link text */
}