@{
    ViewBag.Title = "About";
}
@* this page shows introduction for kids and parents and attributes.*@
<br />
<style>
    .aboutUsButton {
        background-color: transparent;
        padding: 1px 1px;
        border: transparent;
        cursor: pointer;
    }

    .aboutUsButton {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
    }

        .aboutUsButton:hover, .aboutUsButton:focus, .aboutUsButton:active {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }



    .aboutUsText {
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        line-height: 2em;
    }
    /* Style the tab */
    .tab {
        float: left;
        border: 1px solid #ff6b66;
        border-right: hidden;
        background-color: #ff6b66;
        width: 20%;
        height: 700px;
    }

        /* Style the buttons inside the tab */
        .tab button {
            display: block;
            background-color: inherit;
            color: black;
            padding: 22px 16px;
            width: 100%;
            border: 1px solid #ff6b66;
            border-left: hidden;
            outline: none;
            text-align: left;
            cursor: pointer;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: white;
            }

            /* Create an active/current "tab button" class */
            .tab button.active {
                background-color: white;
            }

    /* Style the tab content */
    .tabcontent {
        float: left;
        padding: 0px 12px;
        border: 1px solid #ff6b66;
        width: 80%;
        height: 700px;
        display: none;
    }

    /* Clear floats after the tab */
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
</style>



<div class="tab">
    <button class="tablinks active" onmouseover="openBlock(event, 'kids')">For kids</button>
    <button class="tablinks" onmouseover="openBlock(event, 'parent')">
        For parents:
    </button>
    <button class="tablinks" onmouseover="openBlock(event, 'attributes')">Attributes</button>
</div>

<div id="kids" class="tabcontent" style="display:block">
    <p class="aboutUsText">Hi! Welcome to Young Bushfire Heroes! </p>
    <a class="aboutUsButton" href="/Home/Home" target="_blank" title="Go to bushfire page"><img src="~/Image/nav-bushfire 2.png" width="120px" class="responsive"></a>
    <span class="aboutUsText">Click the bushfire button to explore bushfire facts!</span>

    <p>
        <a class="aboutUsButton" href="https://youngbushfireheroes.team/Species" target="_blank" title="Go to wildlife page"><img src="~/Image/nav-wildlife 2.png" width="120px" class="responsive"></a>
        <span class="aboutUsText">Click the bushfire button to explore bushfire facts!</span>
    </p>

    <p>
        <a class="aboutUsButton" href="https://youngbushfireheroes.team/Activities" target="_blank" title="Go to activity page"><img src="~/image/activity.png" width="120px" class="responsive"></a>
        <span class="aboutUsText">Click the wildlife button to learn bushfire affected animals!</span>
    </p>

    <p>
        <a class="aboutUsButton" href="https://youngbushfireheroes.team/Game" target="_blank" title="Go to game page"><img src="~/image/game.png" width="120px" class="responsive"></a>
        <span class="aboutUsText">Click the activity button to see how you can do for helping to rebuild after the bushfire!</span>
    </p>

    <p>
        <span class="aboutUsText">Are you ready to be a bushfire hero? Click the start button and go!</span>
        <span><a class="aboutUsButton" href="https://youngbushfireheroes.team/Home/Home" target="_blank" title="Go to homepage"><img src="~/image/start.png" width="120px" class="responsive"></a></span>
    </p>

</div>

<div id="parent" class="tabcontent">
    <h3>For parents</h3>
    <p>
        Hi! Welcome to Young Bushfire Heroes!
    </p>
    <p>
        Our website is aimed at providing an interactive platform for children to learn about Gippsland bushfire, its effects on wildlife and ways to help in rebuilding activities. We collect the information regarding bushfire, its affected animals from an authoritative website and government open dataset. The tutorials we provide in the website are based on suggestions of professional kid education websites, as well as the tutorial contents.
    </p>
    <p>
        As parent, if you want to accompany your kids, you can join the tutorial activities for parent and kids, where are two activities that require to use tools (such as hammer) to DIY birdbox and water station for animal put in your backyard. We would like to invite you to join your kid when they want to learn these lessons, in which way you can protect your kid from potential risk and you can get joy at the same time. The kid individual tutorial are more of informative lessons. They can get knowledge by reading and watching.
    </p>
    <p>
        We also provide a game to test whether kids grasp the knowledge that they learned on the website. The game is simple but significant to review the learning.
    </p>
</div>

<div id="attributes" class="tabcontent">
    People
    <a href="https://www.vecteezy.com/free-vector/family">Family Vectors by Vecteezy</a>
    House
    <a href="https://www.vecteezy.com/free-vector/home">Home Vectors by Vecteezy</a>

    Animal
    <a href="https://www.vecteezy.com/free-vector/australia-animals">Australia Animals Vectors by Vecteezy</a>

    Jungle
    <a href="https://www.vecteezy.com/free-vector/jungle">Jungle Vectors by Vecteezy</a>

    Children cartoon playing in nature
    <a href="https://www.vecteezy.com/free-vector/children-nature">Children Nature Vectors by Vecteezy</a>

    Children cartoon roaming together
    <a href="https://www.vecteezy.com/free-vector/children-nature">Children Nature Vectors by Vecteezy</a>
    Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
    Question mark: Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
</div>

<div class="clearfix"></div>

<script>
    //function to control the tab
    function openBlock(evt, UserName) {
        var i, tabcontent, tablinks;

        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {

            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(UserName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
